<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tj.sse.runeveryday"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <!-- <uses-feature
        android:name="android.hardware.bluetooth.ble"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="edu.tj.sse.runeveryday.service.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="edu.tj.sse.runeveryday.service.WeatherNotificationService"
            android:enabled="true" />

        <activity
            android:name="edu.tj.sse.runeveryday.ui.MainActivity"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.RunningActivity"
            android:label="@string/title_activity_running" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.AchievementActivity"
            android:label="@string/title_activity_achievement" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.PlanActivity"
            android:label="@string/title_activity_plan" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.StateActivity"
            android:label="@string/title_activity_state" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.DeviceActivity"
            android:label="@string/title_activity_device" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.PersonalActivity"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name="edu.tj.sse.runeveryday.ui.AlarmActivity"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>